
main {
  margin-top: 9rem;
  display: flex;
  gap:6rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}
main p{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.divs {
  width: 20rem;
  max-width: 20rem; 
  min-height: 18rem;
  background-color: rgba(18, 18, 18, 0.489);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-align: center;
}

.divs:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(255, 0, 0, 0.25);
}

.divs h2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
  font-weight: 700;
  font-size: 1.8rem;
  color: red;
  margin-bottom: 1rem;
}

.divs button{
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: 0.7rem;
  font-size: 1.1rem;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
  font-weight: 600;
  color: ba;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, red, rgb(190, 3, 3));
  margin-top: auto;
}

.divs button:hover{
  background: linear-gradient(135deg,rgb(190, 3, 3), red);
  transform: scale(1.03);
}

main a {
  text-decoration: none;
}

.divs::before {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px auto;
  margin-bottom: 10px;
  border-radius: 20px;
}
